// config
@use "./../config/fonts";
@use "./../config/queries";

@mixin main-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    text-transform: uppercase;

    > b {
        font-weight: 900;
        font-size: fonts.em(40);
        line-height: 1;

        color: var(--color-body-copy);
    }

    > span {
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: fonts.em(20);

        color: var(--color-first);
    }
}

@mixin section-header($pixel: 50) {
    text-transform: uppercase;
    font-weight: 900;
    font-size: fonts.em($pixel);
    line-height: 1.1;
    color: var(--color-first);
}
